@model EditStudentViewModel

<form id="editForm">
    <input hidden asp-for="Id" />

    <div class="my-2">
        <label class="form-label" for="name" asp-for="Name"></label>
        <input class="form-control" id="name" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="my-2">
        <label class="form-label" for="surname" asp-for="Surname"></label>
        <input class="form-control" id="surname" asp-for="Surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>

    <div class="my-2">
        <label class="form-label" for="birthday" asp-for="BirthdayDate"></label>
        <input type="date" class="form-control" id="birthday" asp-for="BirthdayDate" />
        <span class="text-danger" asp-validation-for="BirthdayDate"></span>
    </div>

    <div class="my-2">
        <label class="form-label" for="email" asp-for="Email"></label>
        <input type="email" class="form-control" id="email" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="my-2">
        <button type="button" class="btn btn-sm btn-success" onclick="sendEditForm()">Save modifies</button>
    </div>
</form>